@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-hedvig-sans: "Hedvig Letters Sans", system-ui, sans-serif;
  --font-hedvig-serif: "Hedvig Letters Serif", Georgia, serif;

  --sh-class: #ffffff;
  --sh-identifier: #ffffff;
  --sh-sign: #8996a3;
  --sh-string: #a7a7a7;
  --sh-keyword: #a7a7a7;
  --sh-comment: #a19595;
  --sh-jsxliterals: #ffffff;
  --sh-property: #a7a7a7;
  --sh-entity: #a7a7a7;
}

/* Disable hover styles on touch devices */
@media (hover: none) and (pointer: coarse) {
  /* Disable active state on touch devices for elements with this class */
  .no-touch-active:active {
    background-color: inherit;
    color: inherit;
    opacity: 1;
  }
}
