@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sh-class: #ffffff;
  --sh-identifier: #ffffff;
  --sh-sign: #8996a3;
  --sh-string: #a7a7a7;
  --sh-keyword: #a7a7a7;
  --sh-comment: #a19595;
  --sh-jsxliterals: #ffffff;
  --sh-property: #a7a7a7;
  --sh-entity: #a7a7a7;
}