@tailwind base;
@tailwind components;
@tailwind utilities;

/* Updates */
.notion-render p {
    min-height: 1.87em;
    padding: 0 0 20px;
    color: #878787;
    font-size: 16px;
    display: block;
}

.updates figure {
    display: flex;
    padding: 40px 0;
}

.updates figure legend {
    padding-top: 6px;
    padding-left: 6px;
    padding-left: 2px;
    line-height: 1.4;
    font-size: 14px;
    color: rgba(55, 53, 47, 0.65);
}