html,
body {
  height: 100%;
}

*:focus {
  outline: none;
}

.skeleton-box {
  background-color: hsl(var(--border));
  color: hsl(var(--border)) !important;
  user-select: none !important;
  cursor: default !important;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  border-color: transparent !important;
}

.skeleton-circle {
  background-color: hsl(var(--border));
  border-radius: 1000px !important;
  color: hsl(var(--border)) !important;
  user-select: none !important;
  cursor: default !important;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  border-color: transparent !important;
}

.skeleton-circle > *,
.skeleton-box > *,
.skeleton-line > * {
  opacity: 0 !important;
}

.pin-field-container {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  margin: 4rem 0;
}

.pin-field {
  border: 1px solid hsl(var(--border));
  background-color: hsl(var(--accent));
  border-right: none;
  font-size: 2rem;
  height: 4rem;
  outline: none;
  text-align: center;
  transition-duration: 250ms;
  transition-property: color, border, box-shadow, transform;
  width: 4rem;
}

.pin-field:last-of-type {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: 1px solid hsl(var(--border));
}

.pin-field:focus {
  box-shadow: "0 0 0.25rem rgba(white, 0.5)";
  opacity: 0.9;
  outline: none;
}

.invalid {
  animation: shake 0.2s ease-in-out 0s 2;
}

.pin-field:first-of-type {
  border-radius: 0.5rem 0 0 0.5rem;
}

.pin-field[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

@keyframes shake {
  0% {
    transform: translateX(0rem);
  }
  25% {
    transform: translateX(0.5rem);
  }
  75% {
    transform: translateX(-0.5rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

/* Desktop App */
html.desktop {
  background: hsl(var(--background));
  user-select: none;
  -webkit-user-select: none;
  border-radius: 12px;
  overflow: hidden;
  background: transparent;
}

html.desktop {
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.06);
}

html.desktop.dark {
  border: 1px solid #444;
  box-shadow: 0 0 0 0.5px rgba(255, 255, 255, 0.1);
}

html.desktop,
html.desktop div,
html.desktop a,
html.desktop button {
  cursor: default !important;
}

.color-picker .react-colorful {
  height: 240px;
}
.color-picker .react-colorful__saturation {
  border-radius: 4px 4px 0 0;
}
.color-picker .react-colorful__hue {
  height: 40px;
  border-radius: 0 0 4px 4px;
}

.color-picker .react-colorful__hue-pointer {
  width: 8px;
  height: inherit;
}

.color-picker .react-colorful__pointer {
  width: 15px;
  height: 15px;
}

.color-picker .react-colorful__hue {
  height: 20px;
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.remove-arrow {
  appearance: textfield;
}

input[type="time"]::-webkit-clear-button {
  display: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

.invoice-editor,
.invoice-editor div[aria-expanded="false"],
.invoice-editor .ProseMirror,
.invoice-editor .is-empty {
  height: 100%;
}

.ProseMirror-focused p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #434343;
  pointer-events: none;
  height: 0;
}

.tiptap {
  font-size: 11px !important;
  line-height: 18px !important;
}

.dark .dotted-bg {
  background-image: radial-gradient(
    circle at 1px 1px,
    #232323 0.5px,
    transparent 0
  );
  background-size: 6px 6px;
}

.light .dotted-bg {
  background-size: 6px 6px;
  background-image: radial-gradient(
    circle at 1px 1px,
    #e0e0e0 0.5px,
    transparent 0
  );
}

.global-search-list {
  height: min(450px, var(--search-list-height));
  overscroll-behavior: contain;
  transition: 100ms ease;
  transition-property: height;
}
