.ProseMirror-focused {
  @apply outline-none;
}

.tiptap {
  @apply font-mono text-xs leading-loose;
}

.tiptap h2 {
  @apply text-2xl;
  @apply font-sans;
  margin-bottom: 1.5rem;
}

.tiptap a {
  @apply underline;
}

.tiptap .bubble-menu {
  @apply flex gap-2;
}

.tiptap p.is-empty::before {
  color: #404040;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
