@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 0, 0%, 7%;
    --card: 45 18% 96%;
    --card-foreground: 240 10% 3.9%;
    --popover: 45 18% 96%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 40, 11%, 89%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 40, 11%, 89%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 40, 10%, 94%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --muted-foreground: 0, 0%, 38%;
    --border: 45, 5%, 85%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0, 0%, 7%;
    --foreground: 0 0% 98%;
    --card: 0, 0%, 7%;
    --card-foreground: 0 0% 98%;
    --popover: 0, 0%, 7%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 0, 0%, 11%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0, 0%, 11%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 0, 0%, 11%;
    --accent-foreground: 0 0% 98%;
    --destructive: 359, 100%, 61%;
    --destructive-foreground: 0, 0%, 100%;
    --muted-foreground: 0, 0%, 38%;
    --border: 0, 0%, 17%;
    --input: 0, 0%, 11%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    font-family: var(--font-sans), system-ui, sans-serif;
    @apply bg-background text-foreground;
  }
}

 .scrollbar-hide::-webkit-scrollbar {
  display: none;
}

 .scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

@keyframes dialog-overlay-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dialog-overlay-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes dialog-content-show {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.97);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes dialog-content-hide {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.97);
  }
}

/* Spinner */
.loading-wrapper {
  height: var(--spinner-size);
  width: var(--spinner-size);
  position: absolute;
  inset: 0;
  z-index: 10;
}

.loading-wrapper[data-visible='false'] {
  transform-origin: center;
  animation: fade-out 0.2s ease forwards;
}

.spinner {
  position: relative;
  top: 50%;
  left: 50%;
  height: var(--spinner-size);
  width: var(--spinner-size);
}

.loading-parent {
  display: flex;
  height: 16px;
  width: 16px;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  margin-left: -3px;
  margin-right: 4px;
}

.loading-bar {
  animation: loading 1.2s linear infinite;
  background: hsl(0, 0%, 43.5%);
  border-radius: 6px;
  height: 8%;
  left: -10%;
  position: absolute;
  top: -3.9%;
  width: 24%;
}

.loading-bar:nth-child(1) {
  animation-delay: -1.2s;
  /* Rotate trick to avoid adding an additional pixel in some sizes */
  transform: rotate(0.0001deg) translate(146%);
}

.loading-bar:nth-child(2) {
  animation-delay: -1.1s;
  transform: rotate(30deg) translate(146%);
}

.loading-bar:nth-child(3) {
  animation-delay: -1s;
  transform: rotate(60deg) translate(146%);
}

.loading-bar:nth-child(4) {
  animation-delay: -0.9s;
  transform: rotate(90deg) translate(146%);
}

.loading-bar:nth-child(5) {
  animation-delay: -0.8s;
  transform: rotate(120deg) translate(146%);
}

.loading-bar:nth-child(6) {
  animation-delay: -0.7s;
  transform: rotate(150deg) translate(146%);
}

.loading-bar:nth-child(7) {
  animation-delay: -0.6s;
  transform: rotate(180deg) translate(146%);
}

.loading-bar:nth-child(8) {
  animation-delay: -0.5s;
  transform: rotate(210deg) translate(146%);
}

.loading-bar:nth-child(9) {
  animation-delay: -0.4s;
  transform: rotate(240deg) translate(146%);
}

.loading-bar:nth-child(10) {
  animation-delay: -0.3s;
  transform: rotate(270deg) translate(146%);
}

.loading-bar:nth-child(11) {
  animation-delay: -0.2s;
  transform: rotate(300deg) translate(146%);
}

.loading-bar:nth-child(12) {
  animation-delay: -0.1s;
  transform: rotate(330deg) translate(146%);
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.15;
  }
}

.loading-ellipsis:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

/* Date picker */
.rdp-tbody .rdp-button {
  border-radius: 100%;
}

.aria-selected\:text-accent-foreground[aria-selected="true"] {
  border-radius: 0px;
}