---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<article class="sl-flex not-content" aria-labelledby="about-obytes-heading">
  <small id="about-obytes-heading">
    {title}
    <span class="sr-only">Obytes</span>
  </small>
  <svg
    viewBox="0 0 563 174"
    fill="none"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="var(--sl-color-white)"
  >
    <path
      d="M121.367 46.2857C114.706 36.0744 105.295 27.9012 94.1918 22.6843C89.1671 20.3496 83.728 19.0109 78.1822 18.744C74.7758 12.1073 70.7001 5.82744 66.017 0L50.7212 5.50224C54.8796 10.2452 58.5929 15.352 61.8156 20.7595L60.6328 21.1424C48.7516 25.2238 38.9007 33.6429 33.1003 44.6732C29.7952 50.777 28.3601 57.6999 28.9704 64.5963C29.2446 67.4452 29.8924 70.2467 30.8976 72.9304C33.712 80.3575 39.0554 86.0311 45.6836 88.5706C56.36 92.6016 64.5587 90.183 69.5452 87.4218C72.2174 85.9217 74.6276 84.0059 76.6832 81.7482C81.4749 76.3779 84.6535 69.7918 85.8607 62.732C87.4825 53.5493 87.0439 44.1267 84.5759 35.1299C85.62 35.47 86.6417 35.8739 87.635 36.3393C96.1617 40.3498 103.387 46.6318 108.498 54.4787C113.755 62.5463 116.545 71.9411 116.534 81.5366C116.541 86.2232 115.882 90.8877 114.576 95.393C112.193 103.583 107.719 111.03 101.585 117.019C96.8581 121.682 91.2387 125.368 85.0549 127.861C78.871 130.355 72.2465 131.605 65.5681 131.541C52.2168 131.403 39.458 126.072 30.0559 116.703C20.6537 107.334 15.3654 94.6813 15.3366 81.4861C15.3114 74.515 16.7381 67.6132 19.5278 61.2103L5.09883 56.0204C1.71036 64.0918 -0.0226808 72.7477 0.000224109 81.4861C0.0369129 98.6786 6.92834 115.164 19.181 127.369C31.4337 139.574 48.0601 146.515 65.4561 146.687H65.9455C74.5657 146.71 83.1054 145.05 91.0746 141.802C99.0438 138.554 106.286 133.783 112.384 127.762C120.133 120.201 125.849 110.849 129.015 100.553C130.913 94.3745 131.875 87.9528 131.87 81.4962C131.864 69.0061 128.217 56.7822 121.367 46.2857ZM51.18 74.5025C49.5321 73.8078 48.1177 72.6651 47.1011 71.2072C46.311 70.1249 45.6729 68.9418 45.2043 67.6902C44.2945 65.0997 43.9488 62.3485 44.1896 59.6168C44.4303 56.8851 45.2522 54.2343 46.6014 51.8383C48.7768 47.625 51.8414 43.9218 55.5882 40.9786C59.3351 38.0354 63.6772 35.9208 68.3216 34.7772C71.3093 43.5345 72.1453 52.1004 70.6769 60.1119C69.5145 66.5212 66.1799 71.9528 61.9889 74.2707C61.016 74.8224 59.9588 75.2138 58.8585 75.4296C56.2581 75.8412 53.5927 75.5055 51.18 74.4622V74.5025Z"
      fill="currentColor"></path>
    <path
      d="M438.98 124.406C429.16 140.893 416.199 146.858 398.548 146.858C376.685 146.858 356.24 130.735 356.24 103.294C356.24 101.48 356.321 99.7263 356.484 98.0132C358.758 73.8273 376.716 59.7189 398.548 59.7189H399.639H400.373H400.863L402.066 59.7894H402.668C403.096 59.7894 403.524 59.8599 403.942 59.9103L404.86 60.0213L405.452 60.1019L406.196 60.2127L407.073 60.3639C407.44 60.4243 407.807 60.4948 408.164 60.5755L409.041 60.767L410.142 61.029C410.805 61.1903 411.458 61.3816 412.11 61.5731L412.987 61.8553H413.15C413.772 62.0569 414.384 62.2786 414.986 62.5104L415.904 62.8731L416.842 63.2763L417.749 63.6894C418.259 63.9312 418.769 64.1831 419.269 64.4452C419.768 64.7072 420.187 64.9289 420.646 65.201C427.688 69.2483 433.264 75.3828 436.584 82.7357L423.694 86.9985C419.259 78.6745 410.061 74.0087 400.598 73.4242H399.966C399.751 73.4242 399.527 73.4242 399.303 73.4242H398.558C384.772 73.4242 373.381 82.9575 371.413 98.4969C371.234 99.9853 371.139 101.482 371.128 102.981C371.128 103.102 371.128 103.223 371.128 103.344C371.113 106.253 371.455 109.153 372.148 111.98C375.4 124.92 385.985 133.254 398.568 133.254C412.11 133.254 419.84 129.223 426.448 119.952L438.98 124.406Z"
      fill="currentColor"></path>
    <path
      d="M436.584 82.7457C433.024 74.978 426.955 68.598 419.33 64.6063C418.83 64.3544 418.31 64.1025 417.811 63.8606L416.903 63.4474L415.965 63.0444L415.047 62.6815C414.445 62.4497 413.834 62.2281 413.212 62.0266L413.048 61.966L412.172 61.6939C411.519 61.5024 410.866 61.3111 410.203 61.1498C409.836 61.049 409.469 60.9684 409.102 60.8878L408.225 60.6963C407.868 60.6156 407.501 60.5451 407.134 60.4847L406.257 60.3335L405.513 60.2227L404.921 60.1421L404.004 60.0311C403.585 60.0311 403.157 59.9404 402.729 59.9102H402.127L400.924 59.8397H400.435H399.7H398.609V73.4846H399.354H400.016C413.15 74.1195 423.837 83.562 425.724 98.5169C425.922 100.129 426.021 101.751 426.019 103.374H440.897C440.996 96.2697 439.524 89.2295 436.584 82.7457Z"
      fill="currentColor"></path>
    <path
      d="M440.836 103.284L440.571 111.92H362.338V98.4363H436.492L440.836 103.284Z"
      fill="currentColor"></path>
    <path
      d="M306.059 63.5079L278.445 125.887L272.521 139.28L270.838 143.059L261.977 163.083L257.419 173.372H240.889L254.308 143.059L255.981 139.28L256.389 138.363L261.916 125.887L263.17 123.045L289.53 63.5079H306.059Z"
      fill="currentColor"></path>
    <path
      d="M270.838 143.1L261.977 163.123L254.308 143.1L255.991 139.31L256.389 138.393C255.864 138.191 255.353 137.955 254.859 137.688L246.701 125.918L219.087 63.5383H236.82L263.17 123.076L264.424 125.918L269.156 139.31L270.838 143.1Z"
      fill="currentColor"></path>
    <path
      d="M278.445 125.887L272.521 139.28H261.192C259.536 139.279 257.896 138.968 256.358 138.363C255.833 138.161 255.322 137.925 254.829 137.658C252.305 136.277 250.313 134.113 249.159 131.5L246.671 125.887H278.445Z"
      fill="currentColor"></path>
    <path
      d="M350.346 63.5079H294.557V76.9915H350.346V63.5079Z"
      fill="currentColor"></path>
    <path
      d="M333.235 118.611L317.898 120.758V36.9942H333.235V118.611Z"
      fill="currentColor"></path>
    <path
      d="M333.235 77.0017H299.584V63.4878H308.996C311.357 63.4878 313.621 62.5609 315.291 60.911C316.96 59.2612 317.898 57.0235 317.898 54.6903V36.9741H333.194L333.235 77.0017Z"
      fill="currentColor"></path>
    <path
      d="M317.898 120.758C317.898 134.614 325.587 150.648 352.416 143.069V129.596C347.654 131.813 333.235 134.262 333.235 118.611"
      fill="currentColor"></path>
    <path
      d="M497.696 81.859C493.535 75.3187 487.192 73.1823 479.045 73.1823C470.642 73.1823 463.688 77.294 463.688 84.0459C463.688 92.783 473.1 93.8512 482.512 95.131C502.356 97.852 513.522 106.216 513.522 121.332C513.522 130.694 506.047 146.869 481.819 146.869C459.15 146.869 447.495 132.861 445.333 121.453L457.692 117.009C460.149 125.847 466.767 133.466 479.963 133.466C492.311 133.466 497.767 128.356 497.767 122.179C497.767 116.284 493.759 112.797 479.952 110.842C464.086 108.584 447.321 103.304 447.321 84.4591C447.321 71.1568 461.159 59.7592 479.004 59.7592C495.473 59.7592 506.863 68.0026 511.166 77.0118L497.696 81.859Z"
      fill="currentColor"></path>
    <path
      d="M156.038 21.8377H140.701V143.059H156.038V21.8377Z"
      fill="currentColor"></path>
    <path
      d="M184.998 59.729C161.626 59.729 144.536 77.7877 144.536 105.188C144.536 132.589 161.626 146.858 184.998 146.858C204.169 146.858 225.787 130.735 225.787 103.294C225.787 75.8529 204.169 59.729 184.998 59.729ZM183.489 133.204C168.326 133.204 156.038 121.524 156.038 103.294C156.038 84.9125 168.275 73.3739 183.489 73.3739C198.703 73.3739 210.94 84.9024 210.94 103.294C210.94 121.685 198.642 133.204 183.489 133.204Z"
      fill="currentColor"></path>
    <path
      d="M543.685 65.0799C545.489 66.1164 546.971 67.6223 547.968 69.4335C549.022 71.342 549.559 73.4872 549.528 75.6612C549.562 77.826 549.024 79.9621 547.968 81.8589C546.964 83.6571 545.483 85.1515 543.685 86.1822C541.796 87.2492 539.651 87.7922 537.475 87.7542C535.29 87.7902 533.135 87.2475 531.235 86.1822C529.424 85.1583 527.932 83.6629 526.921 81.8589C525.865 79.9621 525.327 77.826 525.361 75.6612C525.33 73.4872 525.867 71.342 526.921 69.4335C527.925 67.6165 529.418 66.1095 531.235 65.0799C533.135 64.0146 535.29 63.4718 537.475 63.5079C539.651 63.4698 541.796 64.0129 543.685 65.0799ZM544.603 82.9171C546.447 80.95 547.426 78.3406 547.326 75.6612C547.426 72.9818 546.447 70.3726 544.603 68.4055C543.685 67.459 542.574 66.7161 541.343 66.2262C540.113 65.7363 538.791 65.5105 537.465 65.5638C536.131 65.5085 534.801 65.733 533.562 66.2229C532.323 66.7127 531.203 67.4567 530.276 68.4055C528.432 70.3726 527.453 72.9818 527.553 75.6612C527.453 78.3406 528.432 80.95 530.276 82.9171C531.203 83.8659 532.323 84.6098 533.562 85.0996C534.801 85.5895 536.131 85.8142 537.465 85.7589C538.791 85.8121 540.113 85.5864 541.343 85.0964C542.574 84.6065 543.685 83.8636 544.603 82.9171ZM541.942 75.5102C541.321 76.201 540.478 76.6599 539.555 76.8101L543.226 82.0101L540.106 82.0705L536.741 76.931H535.334V82.0705H532.703V69.0707H538.393C539.554 68.9959 540.7 69.3556 541.605 70.0784C542.004 70.4418 542.318 70.8873 542.524 71.3835C542.73 71.8797 542.824 72.4147 542.798 72.9505C542.845 73.8793 542.539 74.7919 541.942 75.5102ZM535.334 74.7544H538.21C538.714 74.7752 539.21 74.6259 539.617 74.3311C539.804 74.1779 539.952 73.9828 540.047 73.762C540.143 73.5412 540.184 73.301 540.167 73.0613C540.187 72.8257 540.147 72.589 540.051 72.3725C539.955 72.1561 539.806 71.9668 539.617 71.8218C539.202 71.5459 538.709 71.4082 538.21 71.4288H535.334V74.7544Z"
      fill="currentColor"></path>
  </svg>
  <slot />
</article>

<style>
  article {
    max-width: 50rem;
    margin-inline: auto;
    padding-block: 5rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
  }
  article > :global(*) {
    max-width: 54ch;
  }
  small {
    color: var(--sl-color-gray-3);
  }
  svg {
    width: 15rem;
  }
</style>
