---
---

<section class="giscus comments"></section>

<style>
	.comments {
     padding-top: 2rem;
     width: 100%;
  }
</style>


<script src="https://giscus.app/client.js"
        data-repo="obytes/react-native-template-obytes"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyOTQ0MTk0OTg="
        data-category="Docs Comments"
        data-category-id="DIC_kwDOEYx8Ks4CaVTU"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="transparent_dark"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>

