export default async function Layout({
  children,
}: {
  children: React.ReactNode;
}) {

  return (
    <div className="relative">
      {/** Place Sidebar Here */}
      <div className="mx-4 md:ml-[95px] md:mr-10 pb-8">
          {children}
          {/* <AccessibilityWidget
            email={user.data.email as string}
            name={user.data.full_name as string}
            id={user.data.id as string}
            profilePicture={user.data.avatar_url as string}
          /> */}
        </div>

        {/* This is used to make the header draggable on macOS */}
        <div className="hidden todesktop:block todesktop:[-webkit-app-region:drag] fixed top-0 w-full h-4 pointer-events-none" />
      </div>
  );
}