import { getPostsQuery } from "@v1/supabase/queries";

export async function PostsServer() {
  // /**
  // * Retrieves all posts from a backend and pass to some client component.
  // * @returns An array of Post objects.
  // */
  // export async function getPostsQuery(): Promise<Post[]> {
  //   try {
  //     const { data, error } = await supabase.from("posts").select("*");
  //     if (error) throw error;
  //     return data;
  //   } catch (error) {
  //     logger.error("Error fetching posts:", error);
  //     throw error;
  //   }
  // }
  // const posts = await getPostsQuery();
  const posts = Array<any>();

  return (
    <div>
      {posts?.map((post) => (
        <div key={post.id}>{post.title}</div>
      ))}
    </div>
  );
}
