# Supabase
NEXT_PUBLIC_SUPABASE_URL=http://localhost:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_ID=
SUPABASE_SERVICE_KEY=

# Resend
RESEND_API_KEY=
RESEND_AUDIENCE_ID=

# GoCardLess
GOCARDLESS_SECRET_ID=
GOCARDLESS_SECRET_KEY=

# Upstash
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Novu
NOVU_API_KEY=

# Trigger
TRIGGER_SECRET_KEY=
TRIGGER_PROJECT_ID=

# Dub
DUB_API_KEY=

# Teller (Base 64 encoded certificate)
TELLER_CERTIFICATE=
TELLER_CERTIFICATE_PRIVATE_KEY=
NEXT_PUBLIC_TELLER_APPLICATION_ID=
NEXT_PUBLIC_TELLER_ENVIRONMENT=
TELLER_SIGNING_SECRET=

# Plaid
PLAID_CLIENT_ID=
PLAID_SECRET=
NEXT_PUBLIC_PLAID_ENVIRONMENT=

# Github
GITHUB_TOKEN=

#Novu
NEXT_PUBLIC_NOVU_APPLICATION_IDENTIFIER=

# Plain
PLAIN_API_KEY=

# OpenAI
OPENAI_API_KEY=

# Mistral AI
MISTRAL_API_KEY=

# OpenPanel
NEXT_PUBLIC_OPENPANEL_CLIENT_ID=
OPENPANEL_SECRET_KEY=

# Webhook
WEBHOOK_SECRET_KEY=6c369443-1a88-444e-b459-7e662c1fff9e

# Sentry
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=

# Engine
MIDDAY_ENGINE_API_KEY=secret
NEXT_PUBLIC_ENGINE_API_URL=http://localhost:3002

# Azure
AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=
AZURE_DOCUMENT_INTELLIGENCE_KEY=

# Google Maps
NEXT_PUBLIC_GOOGLE_API_KEY=

# VatCheckAPI
VATCHECKAPI_API_KEY=

# Invoice
INVOICE_JWT_SECRET=secret

# Midday Cache
MIDDAY_CACHE_API_SECRET=