# Supabase
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_ID=
SUPABASE_SERVICE_KEY=

# Resend
RESEND_API_KEY=

# Loops
LOOPS_ENDPOINT=
LOOPS_API_KEY=

# GoCardLess
GOCARDLESS_SECRET_ID=
GOCARDLESS_SECRET_KEY=

# Upstash
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Novu
NOVU_API_KEY=
NEXT_PUBLIC_TRIGGER_API_KEY=

# Dub
DUB_API_KEY=

# Base64 encoded json (project_id, private_key, client_email)
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_APPLICATION_INVOICE_PROCESSOR_ID=
GOOGLE_APPLICATION_EXPENSE_PROCESSOR_ID=

# Teller (Base 64 encoded certificate)
TELLER_CERTIFICATE=
TELLER_CERTIFICATE_PRIVATE_KEY=
NEXT_PUBLIC_TELLER_APPLICATION_ID=
NEXT_PUBLIC_TELLER_ENVIRONMENT=

# Plaid
PLAID_CLIENT_ID=
PLAID_SECRET=
NEXT_PUBLIC_PLAID_ENVIRONMENT=

# Github
GITHUB_TOKEN=

#Novu
NEXT_PUBLIC_NOVU_APPLICATION_IDENTIFIER=

# Plain
PLAIN_API_KEY=

# Baselime
BASELIME_SERVICE=
BASELIME_API_KEY=

# OpenAI
OPENAI_API_KEY=

# Mistral AI
MISTRAL_API_KEY=

# OpenPanel
NEXT_PUBLIC_OPENPANEL_CLIENT_ID=
OPENPANEL_SECRET_KEY=

# Engine
ENGINE_API_ENDPOINT=http://localhost:3002
ENGINE_API_SECRET=secret

# Webhook
WEBHOOK_SECRET_KEY=6c369443-1a88-444e-b459-7e662c1fff9e

# Sentry
SENTRY_AUTH_TOKEN=
SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=

# Engine
MIDDAY_ENGINE_API_KEY=secret
MIDDAY_BASE_URL=http://localhost:3002

# CDN
MIDDAY_CDN=