export function Footer() {
  return (
    <div className="flex items-center justify-center font-mono text-xs fixed bottom-0 right-4 bottom-4 space-x-2">
      <span>Made by</span>
      <a href="https://midday.ai?utm_source=v1" className="underline">
        Midday
      </a>
    </div>
  );
}
